# Ignore compiled executables
*.exe

# Ignore pycache folders
__pycache__/

# Ignore build folders
build/
dist/

# Ignore spec files (optional, if you don't want to share them)
*.spec

# Ignore VS Code settings (optional)
.vscode/

# Ignore Nuitka cache
.nuitka-cache/
